.github/**
.gitignore
.playwright-mcp/**
.vscode/**
.vscode-test/**
examples/**
src/**
scripts/**
tsconfig.json
dist/*.test.*
dist/**/*.map
dist/**/*.d.ts
*.log
*.vsix
node_modules/**/{test,tests,__tests__,docs,doc,example,examples}/**
node_modules/**/.github/**
node_modules/**/spec/**
node_modules/**/src/**
node_modules/**/tsconfig.json
node_modules/**/*.map
node_modules/**/*.ts
node_modules/**/*.md
!node_modules/**/README.md
